{# Comments #}
! ==================================================================
! {{ cfg['title'] }}
! {{ cfg['instance'] }}
! {{ cfg['template'] }}
! {{ cfg['function'] | upper }}
! Configlet Generated: {{ cfg['timestamp'] }}
! ==================================================================

{% for item, idict in cfg['design_payload'].items()   %}
! ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
! Primary Device: {{ idict['primary_dev'] }} Secondary Device: {{ idict['secondary_dev'] }}
! Connecting To: {{ idict['destination_dev'] }}
no int port-channel{{ idict['vpc'] }}
interface port-channel{{ idict['vpc'] }}
  description TO {{ idict['destination_dev'] }}
  switchport
  switchport mode trunk
  {% for vlan in idict['vlans'] -%}
  switchport trunk allowed vlan add {{ vlan }}
  {% endfor -%}
  spanning-tree port type network
  vpc {{ idict['vpc'] }}
  {% if idict['state'] == 'disabled' -%}
  shutdown
  {% else -%}
  no shutdown
  {% endif %}

default int {{ idict['intf'] }}
interface {{ idict['intf'] }}
  description TO {{ idict['destination_dev'] }}
  switchport
  switchport mode trunk
  {% for vlan in idict['vlans'] -%}
  switchport trunk allowed vlan add {{ vlan }}
  {% endfor -%}
  channel-group {{ idict['vpc'] }} mode active
  {% if idict['state'] == 'disabled' -%}
  shutdown
  {% else -%}
  no shutdown
  {% endif %}


! ==================================================================
! VERIFICATION COMMANDS

show vpc {{ idict['vpc'] }}
show port-channel summary
show int status | i {{ idict['vpc'] }}

{% for vlan in idict['vlans'] -%}
show spanning-tree vlan {{ vlan }}
{% endfor -%}

{% endfor %}

