no int po46
interface port-channel46
  description BDC/ADC Dual Sided vPC
  switchport
  switchport mode trunk
  switchport trunk allowed vlan none
  spanning-tree port type network
  vpc 46
  no shutdown

default int e1/46-48
interface Ethernet1/46, Ethernet1/48
  description To BDC/ADC Dual Sided vPC
  switchport
  switchport mode trunk
  switchport trunk allowed vlan none
  channel-group 46 mode active
  no shutdown